<div class="jumbotron center">
  <h1>Bienvenido a mi aplicación</h1>
  <p>
    <%= link_to "Iniciar sesión", "#", class: 'btn btn-default btn-lg'%>
    <%= link_to "Registrarse", "http://www.as.com", class: 'btn btn-primary btn-lg'%>
  </p>
</div>
